<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <div class="top">
      <div class="navy container">
        <a class="navy__link" href="#">Home</a>
        <a class="navy__link" href="#">About</a>
        <a class="navy__link" href="#">Services</a>
        <a class="navy__link" href="#">Blog</a>
        <a class="navy__link" href="#">Contact</a>
      </div>
      <div class="content">
        <div class="content__wrapper container">
          <div class="content__text">
            <h3 class="content__text__subtitle">Next genaretion platform</h3>
            <h1 class="content__text__title">
              Artificial intelligence &amp; Syber security
            </h1>
            <p class="content__text__pr">
              Lorem ipsum is placeholder text commonly used in the graphic,
              print, and publishing industries for previewing layouts and visual
              mockups.
            </p>
            <div class="content__buttons">
              <button class="content__buttons__button">Get Started</button>
              <button class="content__buttons__button">
                <svg
                  width="20"
                  height="25"
                  viewBox="0 0 20 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 12.5L0.500001 24.1913L0.500002 0.808657L20 12.5Z"
                    fill="white"
                  />
                </svg>
                Watch Video
              </button>
            </div>
          </div>
          <img
            class="content__image"
            src="static/img/man_and_rocket.svg"
            alt="man and rocker"
          />
        </div>
      </div>
      <div class="logo">
        <div class="logo__wrapper container">
          <img class="logo__img" src="static/img/logo1.svg" alt="logo 1" />
          <img class="logo__img" src="static/img/logo2.svg" alt="logo 2" />
          <img class="logo__img" src="static/img/logo3.svg" alt="logo 3" />
          <img class="logo__img" src="static/img/logo4.svg" alt="logo 4" />
        </div>
      </div>
    </div>
    </body>
</html>
