@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  text-decoration: none;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1206px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.top {
  background-color: #020a18;
  padding-bottom: 99px;
}

.navy {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 39px;
  padding-bottom: 39px;
}

.navy__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.content {
  margin-top: 160px;
  margin-bottom: 197px;
}

.content__wrapper {
  display: flex;
  justify-content: center;
  gap: 128px;
  align-content: center;
}

.content__text {
  max-width: 604px;
}

.content__text__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #3a68b8;
  margin-bottom: 10px;
}

.content__text__title {
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 40px;
}

.content__text__pr {
  max-width: 558px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
}

.content__buttons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.content__buttons__button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  height: 57px;
  background: #3a68b8;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

.logo__wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.middle__content {
  background-color: #000;
  padding-top: 264px;
  padding-bottom: 243px;
}

.middle__content__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}

.item {
  display: grid;
  justify-items: center;
  gap: 30px;
  background: #132035;
  border-radius: 10px;
  padding: 30px;
}

.item__big {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  gap: 60px;
}

.item__header {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  color: #ffffff;
  text-align: center;
}

.item__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  text-align: center;
}

.bottom__content {
  background-color: #000;
  padding-bottom: 221px;
}

.bottom__wrapper {
  display: flex;
  flex: 1 1;
}

.bottom__text {
  margin: 14px 25px 14px 0;
}

.bottom__content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 20px;
}

.bottom__content__pr {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 848px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .content__wrapper {
    flex-wrap: wrap;
  }

  .content__text__subtitle {
    font-size: 16px;
  }

  .content__text__title {
    font-size: 48px;
  }

  .logo__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    max-width: 650px;
    margin: auto;
  }

  .middle__content__wrapper {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .item {
    display: none;
  }

  .item__first {
    display: grid;
    max-width: 362px;
  }

  .bottom__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }

  .bottom__text {
    margin: 0 110px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 375px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .navy {
    gap: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .navy__link {
    font-size: 14px;
    line-height: 19px;
  }

  .content {
    margin-top: 64px;
    margin-bottom: 128px;
  }

  .content__text__subtitle {
    font-size: 14px;
    margin-bottom: 16px;
    text-align: center;
  }

  .content__text__title {
    font-size: 28px;
    margin-bottom: 64px;
    text-align: center;
  }

  .content__buttons {
    gap: 20px;
    flex-direction: column;
    margin-top: 24px;
    align-items: center;
  }

  .content__text__pr {
    text-align: center;
  }

  .middle__content {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .bottom__content {
    padding-bottom: 96px;
  }

  .bottom__wrapper {
    gap: 32px;
  }

  .bottom__text {
    margin: 0;
  }

  .bottom__content__title {
    font-size: 24px;
    line-height: 130%;
    text-align: center;
  }

  .bottom__content__pr {
    margin-top: 16px;
  }
}
