{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<h1>Пользователи</h1>

<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя пользователя</th>
        <th scope="col">E-mail</th>
    </tr>
    </thead>
    <tbody>

    {% for user in users %}
    <tr>
        <th>{{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}